{{#products}}
<div class="product">
    <div class="product-details">
        <h4>{{name}}</h4>
        <div class="photo">
            <img
                    src="/images/products/{{imageUrl}}"
                    alt="{{name}}"
                    onclick="showImageDetailForm('{{name}}', '/images/products/{{imageUrl}}')"
            >
            <h4 class="price">${{price}}</h4>
        </div>
        <p class="description">{{description}}</p>
    </div>
    <div class="add-button">
        <button
                class="btn btn-success"
                data-product-id="{{productId}}"
                onclick="cartService.addToCart({{productId}})"
        >
            Add to Cart
        </button>
    </div>
</div>
{{/products}}
